[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
ansible = "*"
ansible-lint = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
pre-commit = "*"
